<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>


      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          <li>
            {% include icon-linkedin.html %}
          </li>
           <li>
            {% include icon-email.html %}
          </li>
          <li>
            {% include icon-github.html username=site.footer_links.github.username %}
          </li>
          <li>
            {% include icon-twitter.html username=site.footer_links.twitter.username %}
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2"></div>
      <div class="footer-col footer-col-3">
        <p>{{ site.long_description }}</p>
      </div>
    </div>

  </div>

</footer>
